<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platillos</title>

</head>
{% extends 'Base.html' %}

{% block content %}
<body>
<h1>Platillos del restaurante {{id}}</h1>

<div class="card mb-3">
  <img src="{{res.logo.url}}" class="card-img-top" alt="..." style="width: 250px; height: 250;">
  <div class="card-body">
    <h5 class="card-title">{{id}}</h5>
    <p class="card-text">Direccion: {{res.direccion}}</p>
      <p class="card-text"> Telefono: {{res.telefono}}</p>
    <p class="card-text"><small class="text-body-secondary">{{res.descripcion}}</small></p>
  </div>
</div>


<h1>MENU</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for food in comida %}
            {% if food.nombre_restaurant == id %}
    <div class="col">
      <div class="card h-100">
        <img src="{{food.imagen_plato.url}}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{food.name}}</h5>
          <p class="card-text">{{food.detail}}</p>
           <a href="{% url 'pedido' food.id %}" class="btn btn-primary">Ordenar</a>
        </div>
      </div>
    </div>
            {% endif %}
  {% endfor %}
</div>


{% endblock %}
</body>
</html>
