<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedido exitoso</title>
  </head>
{% extends 'Base.html' %}
{% block content %}

<body>
<h1>SU PEDIDO A SIDO REALIZADO CON EXITO</h1>

<div class="card border-info mb-3" style="max-width: 30rem;">
  <div class="card-header">Detalle del pedido</div>
  <div class="card-body">
    <h5 class="card-title">Informacion del producto</h5>
    <p class="card-text">{{ confirma_orden.name }}</p>
      <p class="card-text">Restaurante:  {{ confirma_orden.nombre_restaurant }}</p>
      <p class="card-text">Valor del producto: {{ confirma_orden.valor }}</p>
      <h5 class="card-title">Informacion del repartidor</h5>
      <p class="card-text">Nombre del repartidor: {{ repartir.nombre }}</p>
      <p class="card-text">Direccion: {{ repartir.direccion }}</p>
      <p class="card-text">Telefono: {{ repartir.telefono }}</p>

      <p class="card-text">Motocicleta marca: {{ repartir.moto_marca }}</p>
      <p class="card-text">Moodelo: {{ repartir.serie }}</p>
      <p class="card-text">Placas: {{ repartir.placa }}</p>



  </div>
</div>

{% endblock %}
</body>
</html>