<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurantes</title>

</head>
{% extends 'Base.html' %}
{% block content %}

<body>
<h1>RESTAURANTES</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for i in res %}
    <div class="col">
      <div class="card h-100">
        <img src="{{i.logo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.nombre}}</h5>
          <p class="card-text">{{i.descripcion}}</p>
            <a href="/productos/{{i.nombre}}" class="btn btn-primary">MENU</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


<br>
<div><a href="/registrar" class="cta-button">Registrarse</a></div>
<br/>

{% endblock %}
</body>
</html>